<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdministradorMultas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdministradorMultas.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/909c8f2881.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">

</head>
<body>

    <header class="header">
        <img src="~/img/logo-web.png" alt="header image" />
        <span id="headerSpan">
            <i class="fa-solid fa-clock fa-sm"></i>
            [<span class="datetime" id="date"></span>
            <span class="datetime" id="time"></span>]
            <br />
            <span class="datetime"></span>
        </span>
        
    </header>


    @{
        var showNav = ViewData["ShowNav"] as bool? ?? true; // Si "ShowNav" no está establecido, mostrará el Nav por defecto
    }

    @if(showNav)
    {
         <nav class="nav navbar-expand-sm navbar-light bg-white border-right box-shadow nav-collapsed">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="nav-icon">
                                <i class="fa fa-home fa-xl"></i>
                            </span>
                            <span class="nav-text nav-item-label">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="User" asp-action="GetUsers">
                            <span class="nav-icon">
                                <i class="nav-icon fa fa-users fa-xl"></i>
                            </span>
                            <span class="nav-text nav-item-label">Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Municipio" asp-action="GetMunicipios">
                            <span class="nav-icon">
                                <i class="fa-solid fa-mountain-city fa-xl"></i>
                            </span>
                            <span class="nav-text nav-item-label">Municipios</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="cambiarControlador" asp-action="cambiarAccion">
                            <span class="nav-icon">
                            <i class="nav-icon fa fa-info fa-xl"></i>
                            </span>
                            <span class="nav-text nav-item-label">Informacion</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="cambiarControlador" asp-action="cambiarAccion">
                            <span class="nav-icon">
                            <i class="nav-icon fa fa-cogs fa-xl"></i>
                            </span>
                            <span class="nav-text nav-item-label">Ajustes</span>
                        </a>
                    </li>
                </ul>
            </div>

            <li class="nav-item logout-item">
                <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                    <button type="submit" class="nav-link btn btn-link" id="logoutBtn">
                        <span class="nav-icon">
                            <i class="nav-icon fa fa-sign-out-alt fa-xl"></i>
                        </span>
                        <span class="nav-text">Logout</span>
                    </button>
                </form>
            </li>
        </nav>
    }
    
    <div class="body-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <span id="address">Lisandro de la Torre 4331 (1439) CABA</span>
        <span id="webpage"><a href="http://www.vialcontrol.com">www.vialcontrol.com</a></span>
        <span id="phonenumber">
            <i class="fa-solid fa-phone"></i>
            <span>+54 11 2077-3176</span>
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="/js/dateTime.js"></script>

    <script>
        var navbar = document.querySelector('.nav');

        navbar.addEventListener('mouseenter', function() {
            navbar.classList.remove('nav-collapsed');
        });

        navbar.addEventListener('mouseleave', function() {
            navbar.classList.add('nav-collapsed');
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#addMunicipioButton").click(function () {
                $('#addMunicipioModal').modal('show');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".btn-danger").click(function () {
                var targetModal = $(this).attr('data-target');
                $(targetModal).modal('show');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".btn-secondary").click(function () {
                var parentModal = $(this).closest('.modal');
                $(parentModal).modal('hide');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("[data-target='#importModal']").click(function () {
                $('#importModal').modal('show');
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
