@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}



<h1 class="text-center text-white">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
