@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    ViewData["ShowNav"] = false;
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />


<div class="login-container container-login-main">
    <div class="container-form-login">
        <div class="information">
            <div class="info-childs">
                <h2>No tienes una cuenta?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <input type="button" value="Registrarse" id="sign-in-form" onclick="location.href='./Register';">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Inicar Sesión</h2>
                <div class="icons">
                    <i class="bx bxl-google" id="googleLogin"></i>
                    <i class="bx bxl-github"></i>
                </div>
                <p>Iniciar sesión con una cuenta</p>
               <form class="form" method="post">
                    <label class="label-email">
                        <i class="bx bx-envelope"></i>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Correo Electrónico" required autofocus />
                    </label>
                    <label class="label-password">
                        <i class="bx bx-lock-alt"></i>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Contraseña" />
                    </label>
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                    <input type="submit" value="Iniciar Sesión">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"></a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar correo electrónico de confirmación</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

