@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<div class="text-center">
    <h1 class="display-4 text-white">@ViewData["Title"]</h1>
</div>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Esta aplicación actualmente no tiene un remitente de correo electrónico real registrado, consulte <a href="https://aka.ms/aspaccountconf">
                estos documentos
            </a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p class="text-white text-center">
            Por favor revise su correo electrónico para confirmar su cuenta.
</p>
    }
}

